.quest-panel {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    position: relative;
    overflow-x: auto;
    cursor: grab;
    user-select: none; /* Prevent text selection */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.quest-panel::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.quest-panel.dragging {
    cursor: grabbing;
}

.quest {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    min-width: calc(100% / 4.5); /* Show 4 quests */
    user-select: none; /* Prevent text selection */
}

.character-icon, .quest-info, .claim-button {
    user-select: none; /* Prevent text selection */
}

.character-icon {
    width: auto;
    height: 150px;
}
.quest-info {
    background: #000;
    margin-top: -50px;
    padding: 10px;
}

.rewards, .requirements {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    color: white;
}

.reward, .requirement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
}

.reward img, .requirement img {
    width: 30px;
    height: 30px;
}

.coin-reward {
    font-weight: bold;
    color: gold;
}

.claim-button {
    background-color: yellow;
    color: black;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: absolute;
    top: 50%;
}

.claim-button:hover {
    background-color: #ffff00;
}

.statsUI {
    color: white;
}

@media (max-width: 768px) {
    .character-icon {
        height: 50px;
    }
    .quest {
        width: calc(100% / 3);  /* Show 3 quests on smaller screens */
    }
}

@media (max-width: 480px) {
    .quest {
        width: 50%;  /* Show 2 quests on very small screens */
    }
}