.quest-panel {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    position: relative;
    overflow-x: auto;
    cursor: grab;
    user-select: none; /* Prevent text selection */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.quest-panel::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.quest-panel.dragging {
    cursor: grabbing;
}

.quest {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    min-width: calc(100% / 4.5); /* Show 4 quests */
    user-select: none; /* Prevent text selection */
}

.character-icon, .quest-info, .claim-button {
    user-select: none; /* Prevent text selection */
}

.character-icon {
    width: auto;
    height: 150px;
}
.quest-info {
    background: #000;
    margin-top: -50px;
    padding: 10px;
    min-width: 100px;
    border-radius: 8px;
}

.rewards, .requirements {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    color: white;
}

.reward, .requirement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
}

.reward img, .requirement img {
    width: 30px;
    height: 30px;
}

.coin-reward {
    font-weight: 900;
    background: gold;
    color: #000;
    border-radius: 50px;
    padding: 5px 5px;
    margin: -75px 0 0 -35px;
    letter-spacing: -1px;
}

.claim-button {
    background-color: gold;
    color: black;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    font-weight: 900;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: -38px;
    font-size: 0.8em;
}

.statsUI {
    color: white;
    background-color: #000;
    padding: 0 10px 5px;
}

.xp-reward {
    font-weight: bold;
    color: lightblue;
    margin: 5px 0 8px -10px;
}

.character-icon, .quest-info img {
    pointer-events: none;
}

.requirement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
}

.requirement img {
    width: 30px;
    height: 30px;
}

.requirement.fulfilled {
    border-bottom: 2px solid green;
}

.circular-progressbar-container {
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-right: 15px;
}

body .circular-progressbar .CircularProgressbar-path {
    stroke: gold;
    stroke-width: 10;
}

body .circular-progressbar .CircularProgressbar-trail {
    stroke: #444;
    stroke-width: 2;
}

body .circular-progressbar .CircularProgressbar-text {
    fill: #fff;
    font-size: 40px;
    font-weight: 800;
}

@media (min-width: 1024px) {
    .character-icon {
        height: 180px;
    }

    .quest {
        min-width: calc(100% / 6);
    }
}

@media (max-width: 768px) {
    .character-icon {
        height: 130px;
    }

    .quest {
        min-width: calc(100% / 2.5);
        /* Show 3 quests on smaller screens */
    }
}