.App {
  display: flex;
  align-items: center;
}

.energy-display {
  font-size: 24px;
  color: white;
}
.board {
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.game-ui {
  margin-bottom: 20px;
  font-size: 24px;
}

#phaser-game {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .game-ui {
    font-size: 16px;
  }
  #phaser-game canvas {
    -webkit-transform-origin-x: 0;
    -webkit-transform-origin-y: 0;
    left: 0
  }
  .board {
    width: 100%;
  }
  #phaser-game {
    width: 100%;
    height: auto;
  }
}

canvas {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}